.name {
    margin-top: 0;
}

.titles {
    margin-bottom: 10px;
}

.small-text p, .small-text li {
    font-size: 11px;
}

.right-column p {
    margin-bottom: 4px;
}

.right-column h4 {
    margin-bottom: 6px;
}

.right-column h3 {
    margin-top: 10px;
    margin-bottom: 6px;
}

.tight-paragraphs p {
    margin-bottom: 0;
}

@media print {
    a:link:after, a:visited:after {
        content: "";
    }
}

body {
    padding-bottom: 20px;
}
